body {
  font-family: 'Roboto', sans-serif;
}
header{
  text-align: center;
}
.start{
 /*
 * Used to center button and make bigger
 */
 text-align: center;
 margin-top: 50px;
 margin-bottom: 50px;
}

.box {
  background-color: rgba(158, 158, 158, 1);
  border: 2px black solid;
  border-radius: 10px;
  height: 600px;
  margin: auto;
  width: 80%;
}

.hidden{
  /*
  * Hides out put
  * This will be based on what question and toggled with JS
  */
  display: none;

}
.questions{
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}
