body {
  font-family: 'Roboto', sans-serif;
}
header{
  text-align: center;
}
.start{
 /*
 * Used to center button and make bigger
 */
 text-align: center;
}
ul{
  /*
  * Take out list styles
  */
  list-style: none;
}

.hidden{
  /*
  * Hides out put
  * This will be based on what question and toggled with JS
  */

}
.question{
  text-align: center;
}
