body {
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
}

.start {
  /*
 * Used to center button and make bigger
 */
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.box {
  height: 600px;
  margin: auto;
  width: 80%;
}

.hidden {
  /*
  * Hides out put
  * This will be based on what question and toggled with JS
  */
  display: none;
}

.questions, .score-and-progress {
  position: relative;
  width: 100%;
  font-size: 1.5em;
}
.questions{
  text-align: center;
}

.score-and-progress {
  display: flex;
  justify-content: space-around;
}
form{
  text-align: left;
  width: 75%;
  margin: 20px auto;
}
button{
  background-color: rgba(235, 235, 235, 1);
  border-radius: 5px;
  margin-top: 20px;
}
